/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif !important;
  color: #1A1A1A;
  background-color: #FFFFFF;
}

a {
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  text-decoration: none !important;
}

.textcolor{
  color: #2196f3 !important;

}

.inspectcolor{
  color: #ffc107 !important;

}

.monitorcolor{
  color: #9C27B0 !important;
}

.coachcolor{
  color: #00bcd4 !important;
}


/* -------------------------------- 

 Header

-------------------------------- */
.cd-morph-dropdown {
  position: relative;
  height: 60px;
  background-color: #FFFFFF;
  z-index: 1;
}
.cd-morph-dropdown::before {
  /* never visible - used in JS to check mq */
  content: 'mobile';
  display: none;
}
.cd-morph-dropdown .nav-trigger {
  /* menu icon - visible on small screens only */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  /* replace text with icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  /* these are the 3 lines of the menu icon */
  position: absolute;
  background-color: #1A1A1A;
  height: 3px;
  width: 26px;
}
.cd-morph-dropdown .nav-trigger span {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.cd-morph-dropdown .nav-trigger span::before {
  -webkit-transform: translateY(-9px);
      -ms-transform: translateY(-9px);
          transform: translateY(-9px);
}
.cd-morph-dropdown .nav-trigger span::after {
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
}
.cd-morph-dropdown.nav-open .nav-trigger span {
  background-color: transparent;
}
.cd-morph-dropdown.nav-open .nav-trigger span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.cd-morph-dropdown.nav-open .nav-trigger span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-morph-dropdown .main-nav {
  display: none;
}
.cd-morph-dropdown .morph-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 1.2em 5%;
  box-shadow: inset 0 1px 0 #e6e6e6;
  background-color: #FFFFFF;
}
.cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
  display: block;
}
.cd-morph-dropdown .dropdown-list > ul > li {
  margin-bottom: 3.3em;
}
.cd-morph-dropdown .label {
  display: block;
  font-size: 2.2rem;
  color: #1A1A1A;
  margin-bottom: .8em;
}
.cd-morph-dropdown .content li::after {
  clear: both;
  content: "";
  display: block;
}
.cd-morph-dropdown .gallery .content li {
  margin-bottom: 1.4em;
}
.cd-morph-dropdown .gallery .content a {
  display: block;
}
/*.cd-morph-dropdown .gallery .content a::before {
  /* icon on the left 
  content: '';
  display: inline-block;
  float: left;
  height: 54px;
  width: 54px;
  margin-right: 1.6em;
  margin-top: .8em;
  background: red;
  border-radius: 50%;
  -webkit-transition: background .2s;
  transition: background .2s;
}*/
.cd-morph-dropdown .gallery .content a:hover::before {
  background-color: #1A1A1A;
  }

.cd-morph-dropdown .gallery .content a span, .cd-morph-dropdown .gallery .content a em {
  display: block;
  line-height: 1.5;
}
.cd-morph-dropdown .gallery .content a em {
  font-size: 1.6rem;
  padding: .4em 0 .2em;
  color: #1A1A1A;
}
/*Subtitles in dropdown menu*/
.cd-morph-dropdown .gallery .content a span {
  font-size: 1.6rem;
  color: #6b7c93;
  font-weight: 300 !important;
}


/*hover style for icon */

.cd-morph-dropdown .gallery li:nth-of-type(1) a:hover:before {
  background: #2196f3 url(../img/newchat_black.svg) no-repeat ;
}
.cd-morph-dropdown .gallery li:nth-of-type(2) a:hover:before {
  background: #ffc107 url(../img/wrench_hover.svg) no-repeat ;
}
.cd-morph-dropdown .gallery li:nth-of-type(3) a:hover:before {
  background: #9c27b0 url(../img/newlaptophover.svg) no-repeat;
}
.cd-morph-dropdown .gallery li:nth-of-type(4) a:hover:before {
  background: #00bcd4 url(../img/teamworkhover.svg) no-repeat;
}


/*dropdown icons */
.cd-morph-dropdown .gallery li:nth-of-type(1) a::before {
  background: #2196f3 url(../img/newchat.svg) no-repeat ;
}
.cd-morph-dropdown .gallery li:nth-of-type(2) a::before {
  background: #ffc107 url(../img/wrench2.svg) no-repeat ;
}
.cd-morph-dropdown .gallery li:nth-of-type(3) a::before {
  background: #9c27b0 url(../img/newlaptop.svg) no-repeat;
}
.cd-morph-dropdown .gallery li:nth-of-type(4) a::before {
  background: #00bcd4 url(../img/teamwork.svg) no-repeat;
}
.cd-morph-dropdown .links .content > ul > li {
  margin-top: 1em;
}
.cd-morph-dropdown .links-list a,
.cd-morph-dropdown .btn {
  display: block;
  margin-left: 14px;
  font-size: 2.2rem;
  line-height: 1.6;
}
.cd-morph-dropdown .links-list a:hover,
.cd-morph-dropdown .btn:hover {
  color: #1A1A1A;
}
.cd-morph-dropdown .content h2 {
  color: #a6a6a6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 20px 0 10px 14px;
}
@media only screen and (min-width: 1000px) {
  .cd-morph-dropdown {
    position: absolute;
    height: 80px;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: transparent;
  }
  .cd-morph-dropdown::before {
    content: 'desktop';
  }
  .cd-morph-dropdown .nav-trigger {
    display: none;
  }
  .cd-morph-dropdown .main-nav {
    display: inline-block;
  }
  .cd-morph-dropdown .main-nav > ul > li {
    display: inline-block;
    float: left;
  }
  .cd-morph-dropdown .main-nav > ul > li > a {
    display: block;
    padding: 0 1.8em;
    height: 70px;
    line-height: 70px;
    color: #FFFFFF;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li > a {
    /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
    opacity: .6;
  }
  .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
    opacity: 1;
  }
  .cd-morph-dropdown .morph-dropdown-wrapper {
    /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
    display: block;
    top: 58px;
    /* overwrite mobile style */
    width: auto;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    /* Force Hardware acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .cd-morph-dropdown .dropdown-list {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform, width, height;
    -webkit-transition: visibility .3s;
    transition: visibility .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  }
  .no-csstransitions .cd-morph-dropdown .dropdown-list {
    display: none;
  }
  .cd-morph-dropdown .dropdown-list::before {
    /* dropdown top triangle */
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #FFFFFF;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .cd-morph-dropdown .dropdown-list > ul {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .cd-morph-dropdown.is-dropdown-visible .dropdown-list {
    visibility: visible;
    -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
    transition: width .3s, height .3s, -webkit-transform .3s;
    transition: transform .3s, width .3s, height .3s;
    transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
  }
  .cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
    opacity: 1;
  }
  .cd-morph-dropdown .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
  }
  .cd-morph-dropdown .dropdown.active {
    opacity: 1;
    visibility: visible;
  }
  .cd-morph-dropdown .dropdown.move-left .content {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .cd-morph-dropdown .dropdown.move-right .content {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
  }
  .cd-morph-dropdown .label {
    /* hide the label on bigger devices */
    display: none;
  }
  .cd-morph-dropdown .content {
    padding: 2.2em 1.8em;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    text-align: left;
  }
  .cd-morph-dropdown .content > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-morph-dropdown .content > ul > li {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-top: 0;
  }
  .cd-morph-dropdown .content > ul > li:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-morph-dropdown .gallery .content {
    /* you need to set a width for the .content elements because they have a position absolute */
    width: 620px;
    padding-bottom: .8em;
  }
  .cd-morph-dropdown .gallery .content li {
    margin-bottom: 1.8em;
  }
  .cd-morph-dropdown .links .content > ul > li {
    margin-top: 0;
  }
  .cd-morph-dropdown .links .content,
  .cd-morph-dropdown .button .content {
    width: 490px;
  }
  .cd-morph-dropdown .links-list a {
    font-size: 1.6rem;
    margin-left: 0;
  }
  .cd-morph-dropdown .btn {
    padding-top: 0px !important;
    display: block;
    width: 100%;
    height: 60px;
    margin: 1.5em 0 0;
    font-size: 1.8rem;
    text-align: center;
    color: #FFFFFF;
    line-height: 60px;
    background: #2196f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .cd-morph-dropdown .btn:hover {
    background: #1A1A1A;
    color: #FFFFFF;
  }
  .cd-morph-dropdown .content h2 {
    font-size: 1.8rem;
    text-transform: none;
    font-weight: normal;
    color: #1A1A1A;
    margin: 0 0 .6em;
  }
  .cd-morph-dropdown .bg-layer {
    /* morph dropdown background */
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    background: #FFFFFF;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .cd-morph-dropdown.is-dropdown-visible .bg-layer {
    opacity: 1;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s;
  }
}

/* -------------------------------- 

Main site content

-------------------------------- */
.cd-main-content {
  min-height: 100vh;
  /*background-color: #273B7A; */
  /*background-image: url(../img/midblue.png); */
  /* Gradient */
  background-color: #52418f;
  background-color: rgba(82,65,143,.97);
  background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  background: linear-gradient(to right bottom,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
}
@media only screen and (min-width: 1000px) {
  .cd-main-content {
    padding-top: 80px;
    /*background-image: url(../img/midblue.png); */
    /* Gradient */
    background-color: #52418f;
    background-color: rgba(82,65,143,.97);
    background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
    background: linear-gradient(to right bottom,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  }
}

.headline{
  color:#FFFFFF;
  font-weight: 300;
  font-size: 40px;
  padding-top: 80px;
  max-height: 600px;
  overflow: hidden;
  ;
}

.intro{
  color:#FFFFFF;
  font-weight: 300;
  font-size: 18px;
  margin-top: 30px;
  line-height: 25px;
  margin-bottom: 30px;
}

.overview{
  background: #FFFFFF;
  padding-top: 60px;
}

.overview h1{
  font-size: 24px;
  margin-top: 20px;
}

.overview p{
  color: #6b7c93;
  padding-top: 20px;
  line-height: 25px;
  font-weight: 300;
}

.items{

  margin-top: 60px;
  margin-bottom: 60px;
  border-style: solid;
  border-bottom: black;
}

.items p{
  color: #6b7c93;
  font-weight: 300;
}


.explored{
  font-weight: 600 !important;
  font-size: 15px !important;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #43458b;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92,91,92,1) !important;
  -moz-box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important;
  -box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important; 
}

.explored:hover{
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92,91,92,1) !important;
  -moz-box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important;
  -box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important; 
  font-weight: 400;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #43458b;
}

.btn_action{
  font-weight: 600 !important;
  font-size: 15px !important;
  background-color: #4caf50 !important;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92,91,92,1) !important;
  -moz-box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important;
  -box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important; 
}

.btn_action:hover{
  /*margin-top: -2px !important;
  transition: all .2s !important;
  -o-transition: all .2s !important;
  -moz-transition: all .2s !important;
  -webkit-transition: all .2s !important; */
  
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92,91,92,1) !important;
  -moz-box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important;
  -box-shadow: 1px 2px 14px 0px rgba(92,91,92,1) !important; 
}

/* GENERAL PRODUCT STYLING */

.product_name{
  font-weight: 600;
  font-size: 26px;
  padding-bottom: 60px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);

}

.product_tagline{
  padding-top: 40px;
  line-height: 1.1;
  padding-bottom: 60px;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.product_desc{
  font-size: 24px;
  font-weight: 300 !important;
  line-height: 1.2 !important;
  padding-bottom: 15px;

}

@media only screen and (max-width: 769px){
  .product_desc{
    text-align: center !important;
  }
}

.product_headline{
  text-align: center;
  font-size: 48px !important;
  padding-bottom: 30px;
}

.benefit_headline{
  font-size: 30px;
  padding-top: 20px;
}

@media only screen and (max-width: 769px){
  .benefit_headline{
    text-align: center !important;
  }
}


.benefit_row{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
  border-color: #9E9E9E !important;
  border-width: 1px !important;
  border-top: solid;
  border-bottom: solid;
  margin-bottom: 30px;
}

@media only screen and (max-width: 769px){
  .benefit_headline{
    text-align: center !important;
    padding-top: 30px;
  }
}

.mockup_pad{
  padding-bottom: 30px;"
}

@media only screen and (max-width: 769px){
  .small_screen{
    margin-left: 30px !important;
  }
}

.product_icon{
  vertical-align: middle;
}



.get_started_back{
  min-height: 120px;
  /*background-image: url(../img/chat.png);*/
  background-color: #52418f;
  background-color: rgba(82,65,143,.97);
  background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  background: linear-gradient(to right bottom,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
}
.get_started{
  font-size: 36px !important;
  color: #FFFFFF !important;
  font-weight: 300 !important;
  line-height: 36px;
}

.get_started_sub{
  font-size: 18px !important;
  color: #FFFFFF !important;
  font-weight: 500 !important;
  line-height: 36px;
}

/* CONTACT PAGE STYLES */

.contact_div{
  background-color:#FFFFFF;
  margin-top: 60px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92,91,92,1);
  -moz-box-shadow: 1px 2px 14px 0px rgba(92,91,92,1);
  -box-shadow: 1px 2px 14px 0px rgba(92,91,92,1);
  padding-bottom: 30px;
  padding-top: 30px;
  max-width: 720px;
  min-height: 480px;
  vertical-align: middle;
  border-radius: 5px;
}

.contact_div h1{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.contact_div p{
  font-weight: 400;
  line-height: 1.4;
  margin-top: 10px;
}

.contact_form{
  margin-top: 15px;
  min-width: 70%;
  display: inline-block;
}

.label_left{
  text-align: left !important;
}

/* MONITOR BACKGROUND STYLES */

.measure-content {
  min-height: 100vh;
  /*background-color: #273B7A; */
  /*background-image: url(../img/purple.png); */
  background-color: #52418f;
  background-color: #9C27B0;
  background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  background: linear-gradient(to right bottom,rgba(41,8,48,.97),#9C27B0 50%,rgba(156, 39, 176, 0.6));
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);


}
@media only screen and (min-width: 1000px) {
  .measure-content {
    padding-top: 80px;
    /*background-image: url(../img/purple.png); */
    background-color: #52418f;
    background-color: #9C27B0;
    background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
    background: linear-gradient(to right bottom,rgba(41,8,48,.97),#9C27B0 50%,rgba(156, 39, 176, 0.6));
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);

  }
}



/* TEXT STYLES */

.text-content {
  min-height: 100vh;
  /*background-image: url(../img/chat.png);*/
  background-color: #52418f !important;
  background-color: #9C27B0 !important;
  background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97)) !important;
  background: linear-gradient(to right bottom,rgba(41,8,48,.97),#2196F3 50%,rgba(156, 39, 176, 0.6)) !important;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1) !important;


}
@media only screen and (min-width: 1000px) {
  .text-content {
    padding-top: 80px;
    /*background-image: url(../img/purple.png); */
    background-color: #52418f !important;
    background-color: #9C27B0 !important;
    background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97)) !important;
    background: linear-gradient(to right bottom,rgba(41,8,48,.97),#2196F3 50%,rgba(156, 39, 176, 0.6)) !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1) !important;

  }
}


/* INSPECT STYLES */ 

.inspect-content {
  min-height: 100vh;
  /*background-color: #273B7A; */
  /*background-image: url(../img/purple.png); */
  background-color: #FFC107 !important;
  background: -webkit-linear-gradient(left top,#795548,rgba(82,65,143,.97) 50%,rgba(114,183,227,.97)) !important;
  background: linear-gradient(to right bottom,#212121,#FBC02D 50%,#FFECB3) !important;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1) !important;


}
@media only screen and (min-width: 1000px) {
  .inspect-content {
    padding-top: 80px;
    /*background-image: url(../img/purple.png); */
    background-color: #FFC107 !important;
    background: -webkit-linear-gradient(left top,#795548,rgba(82,65,143,.97) 50%,rgba(114,183,227,.97)) !important;
    background: linear-gradient(to right bottom,#212121,#FBC02D 50%,#FFECB3) !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1) !important;

  }
}

/* TEAMWORK STYLES */

.teamwork-content {
  min-height: 100vh;
  /*background-image: url(../img/chat.png);*/
  background-color: #52418f !important;
  background-color: #9C27B0 !important;
  background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97)) !important;
  background: linear-gradient(to right bottom,rgba(41,8,48,.97),#00bcd4 50%,rgba(156, 39, 176, 0.6)) !important;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1) !important;


}
@media only screen and (min-width: 1000px) {
  .teamwork-content {
    padding-top: 80px;
    /*background-image: url(../img/purple.png); */
    background-color: #52418f !important;
    background-color: #9C27B0 !important;
    background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97)) !important;
    background: linear-gradient(to right bottom,rgba(41,8,48,.97),#00bcd4 50%,rgba(156, 39, 176, 0.6)) !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1) !important;

  }
}


/* FOOTER STYLES */

.st_foot{
  background-color:#393D3F;
  height: 400px;
  padding-top: 30px;
  font-color: #b3b3b3;
  line-height: 40px;
}

.st_foot ul li a{
  color: #9E9E9E;
}

.st_foot ul li a:hover{
  color: #FFFFFF;
}


.tester{
  font-color: #FFFFFF !important;
}

.white {
  font-color: #FFFFFF !important;
}


#products > div > ul > li:nth-child(1) > a > span {color:#6b7c93;}
