/* Body */

.lg-back{
	font-family: 'Lato', sans-serif;
	background-color: #52418f;
	background-color: rgba(82,65,143,.97);
	background: -webkit-linear-gradient(left top,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  	background: linear-gradient(to right bottom,rgba(41,8,48,.97),rgba(82,65,143,.97) 50%,rgba(114,183,227,.97));
  	box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
  	margin-bottom: 0px;
}
	.black{
		background-color: #000000;
	}

	.white{
		color: #ffffff;
	}

	.black-font{
		color: #000000;
	}

	.move{
		visibility: hidden;
	}
	.navbar{
		background-color: transparent;
		height: 80px;
	}

	}
	.btn-primary{
		background-color: #1e88e5; 
		border-color: #1e88e5;
	}
	.btn-primary:hover{
		background-color: #005cb2; 
		border-color: #005cb2;
	}

	.btn-outline-primary{
		border-color: #ffffff;
		color:#ffffff;
	}

	.btn-outline-primary:hover{
		border-color: #005cb2;
		background-color: #005cb2;
	}
	.title{
		color: #ffffff;

	}

	.jumbotron{
		background-color: transparent;
	}
/*Navbar Styling*/

	/*Core
	a{
		color:#000000;	
	}*/

	.menu-hr{
		margin-bottom: .5rem;
		margin-top: .125rem;
	}

	.list-unstyled li{
		margin-bottom: .5rem;
	}

	.list-unstyled li a{
		color: #000000;
		text-decoration: none;
	}

	.list-unstyled li a:hover{
		color: #1e88e5;
		text-decoration: none;
	}
	.navbar-nav .dropdown a{
		font-size: 16px;
		color: #3a3f42;
		font-weight: 100;
	}

	.navbar-nav .dropdown a:hover{
		color: #1e88e5;
	}
	/*Dropdown Styles*/
	.dropdown-menu{
		height: 100%;
		width: 100%;
		border-style: none;
		-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
	}
	.dropdown-menu a{
		color: black;
	}

	.products{
		height: 310px;
		width: 210px;
	}

	.resources{
		height:200px; 
		width:550px;

	}

	.contact{
		height:200px; 
		width:500px;

	}

	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0; /*remove the gap so it doesn't close*/
	 }

  	.hide-lg{
	 	display: none;
	 }

	/*Mobile Nav Style */
	 @media only screen and (max-width: 768px) {
	    .navbar .navbar-collapse{
	        border-color: white;
	        background-color: black;
	        z-index: 900;
	     }
	    .nav-item .nav-link{
	    	color: #ffffff;
	    }
	    .dropdown-menu{
	    	width: 100%;
	    	display: inline-block;
	    	background-color: #000000;
	    	font-color:#ffffff;
	    }
	    .dropdown-menu .list-unstyled li a{
	    	color:#ffffff;
	    }
    	.dropdown-menu .list-unstyled li a:hover{
	    	color:#1e88e5;
	    }

	    .navbar-nav .action-buttons ul li{
	    	display: inline-block;
	    }

	    .show-sm{
	    	display: inline-block;
	    }

	    .hide-sm{
	    	display: none;
	    }
	 }


	

	/*Menu Icon Styling */

	.navbar-toggler{
		border-style: none;
	}

	.animenu {
	    display: inline-block;
	    cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
	    width: 26px;
	    height: 1.5px;
	    background-color: #ffffff;
	    margin: 6px 0;
	    transition: 0.1s;
	    border-radius: 5px;
	}

	/* Rotate first bar */
	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-3px, 5px) ;
	    transform: rotate(-45deg) translate(-3px, 5px) ;
	}

	/* Fade out the second bar */
	.change .bar2 {
	    opacity: 0;
	}

	/* Rotate last bar */
	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-5px, -8px) ;
	    transform: rotate(45deg) translate(-5px, -8px) ;
	}


