/* Body */

.lg-back {
	font-family: 'Open Sans', sans-serif;
	background-color: #52418f;
	background-color: rgba(82, 65, 143, .97);
	background: -webkit-linear-gradient(left top, rgba(41, 8, 48, .97), rgba(82, 65, 143, .97) 50%, rgba(114, 183, 227, .97));
	background: linear-gradient(to right bottom, rgba(41, 8, 48, .97), rgba(82, 65, 143, .97) 50%, rgba(114, 183, 227, .97));
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
	margin-bottom: 0px;
}
.hidden {
	visibility: hidden;
}
.white {
	color: #ffffff;
}
.black {
	background-color: #000000;
}
.white:hover {
	color: #ffffff;
	opacity: .5;
}
.black-font {
	color: #000000;
}
.move {
	visibility: hidden;
}
.title {
	color: #ffffff;
}
.jumbotron {
	background-color: transparent;
}
/*Button Styles*/

.btn-outline-primary {
	border-color: #ffffff;
	color: #ffffff;
}
/*Navbar Styling*/

.navbar {
	background-color: transparent;
}
.menu-hr {
	border-color: #999;
	margin-bottom: .5rem;
	margin-top: .125rem;
}
.list-unstyled li a {
	line-height: 1.8rem;
	color: #007bff;
}
.list-unstyled li a:hover {
	text-decoration: none;
}
@media (min-width: 767px) {
	.products {
		width: 250px;
	}
	.resources {
		width: 450px;
	}
	.contact {
		width: 460px;
	}
	.dropdown:hover .dropdown-menu {
		display: inline-block;
		margin-top: 0;
		/*remove the gap so it doesn't close*/
	}
}
/*Queries for nav*/

@media (max-width: 900px) {
	.dropdown .dropdown-menu {
		display: inline-block;
		background-color: transparent;
		border: none;
		width: 100%;
	}
	.dropdown .dropdown-menu a {
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
	}
}
/*Hide Content on Medium and Large screens*/

@media only screen and (min-width: 1025px) {
	.hide-lg {
		display: none;
	}
	.owl-carousel {
		display: none !important;
	}
}
@media only screen and (max-width: 1024px) {
	.show-sm {
		display: inline;
	}
	.hide-sm {
		display: none;
	}
	.navbar ul li a {
		width: 100%;
		line-height: 1.8em;
	}
}
/*768 width - show button */

@media (max-width: 800px) {
	.button-768 {
		display: inline !important;
	}
	.button-1024 {
		display: none !important;
	}
}
/*1024 width - hide button*/

@media (min-width: 1024px) {
	.button-768 {
		display: none !important;
	}
	.button-1024 {
		display: inline !important;
	}
}
/*Resolutions >768 - hide button 
@media (min-width: 769px){
	.button-768{
		display: none !important;
	}*/

}
/*Resolutions <1024 - hide button*/

/*Menu Icon Styling */

.custom-toggler.navbar-toggler {
	border-color: transparent;
	cursor: pointer;
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*Mobile Index Page Product Style */

@media only screen and (max-width: 767px) {
	.index-button {
		margin-bottom: 15px;
		margin-top: -10px;
	}
	.text-right {
		text-align: center !important;
	}
}
/*INDEX PRODUCT STYLING*/

.product-listing {
	background-color: #ffffff;
	padding-top: 60px;
	padding-bottom: 80px;
}
.product-listing h2 {
	color: #000000;
}
.product-listing h5 {
	margin-bottom: 80px;
}
.product-title {
	font-weight: bold;
}
/*GET STARTED STYLING*/

.get-started {
	background-color: transparent;
	padding-bottom: 30px;
}
.get-started h1 {
	margin-top: 40px;
	color: #ffffff;
	font-size: 36px;
}
.get-started p {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 20px;
}
/*FOOTER*/

.st-foot {
	background-color: #292929;
	color: #ffffff;
	line-height: 1.8em;
	padding-bottom: 80px;
}
.st-foot p {
	color: #999;
}
.st-foot h4 {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	margin-top: 80px;
	text-transform: uppercase;
}
.st-foot ul li a {
	color: #999;
}
.st-foot ul li a:hover {
	color: #ffffff;
	text-decoration: none;
}
/*INSPECT PAGE STYLES*/

@media only screen and (max-width: 767px) {
	.mobile-pad {
		padding-top: 20px;
	}
}
/* TEXT PAGE STYLES */

@media only screen and (max-width: 767px) {}