@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }

.jumbotron {
  background-color: transparent;
}

/* Body */

.st-intro {
  margin-top: -70px;
  padding-top: 120px;
  height: 40vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 
  background: -webkit-linear-gradient(
    left top,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
  background: linear-gradient(
    to right bottom,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
}
.lg-back {
  /*font-family: 'Lato', sans-serif;*/
  
}
.hidden {
  visibility: hidden;
}
.white {
  color: #ffffff;
}

.black {
  background-color: #000000;
}

.white:hover {
  color: #ffffff;
  opacity: 0.5;
}
.black-font {
  color: #000000;
}
.move {
  visibility: hidden;
}

.title {
  color: #ffffff;
  font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.sub-head {
  color: #000;
  font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

/*Button Styles*/
.btn-outline-primary {
  border-color: #ffffff;
  color: #ffffff;
}

/*Navbar Styling*/
.navbar {
  background-color: transparent;
  z-index: 1;
}
.menu-hr {
  border-color: #999;
  margin-bottom: 0.5rem;
  margin-top: 0.125rem;
}

.list-unstyled li a {
  line-height: 1.8rem;
  color: #007bff;
}

.list-unstyled li a:hover {
  text-decoration: none;
  color: #000000;
}

.navbar-nav-svg:hover {
  opacity: 1;
}

.navbar-nav-svg {
  fill: #fff;
  opacity: 0.6;
}

.faded {
  opacity: 0.5;
}

.faded a:hover {
  opacity: 1;
}

.social-li {
  opacity: 0.5;
  height: 40px;
  width: 32px;
}

.navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

@media (min-width: 767px) {
  .products {
    width: 250px;
  }

  .resources {
    width: 450px;
  }

  .contact {
    width: 460px;
  }
  .dropdown:hover .dropdown-menu {
    display: inline-block;
    margin-top: 0; /*remove the gap so it doesn't close*/
  }
}

/*Queries for nav*/
@media (max-width: 900px) {
  .dropdown .dropdown-menu {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .dropdown .dropdown-menu a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
  }
}

/*Hide Content on Medium and Large screens*/

@media only screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }

  .owl-carousel {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .show-sm {
    display: inline;
  }
  .hide-sm {
    display: none;
  }

  .navbar ul li a {
    width: 100%;
    line-height: 1.8em;
  }
}

/*768 width - show button */
@media (max-width: 800px) {
  .button-768 {
    display: inline !important;
  }

  .button-1024 {
    display: none !important;
  }
}

/*1024 width - hide button*/
@media (min-width: 1024px) {
  .button-768 {
    display: none !important;
  }

  .button-1024 {
    display: inline !important;
  }
}

/*Resolutions >768 - hide button
@media (min-width: 769px){
	.button-768{
		display: none !important;
	}
}*/

/*Resolutions <1024 - hide button*/

/*Menu Icon Styling */
.custom-toggler.navbar-toggler {
  border-color: transparent;
  cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Mobile Index Page Product Style */
@media only screen and (max-width: 767px) {
  .index-button {
    margin-bottom: 15px;
    margin-top: -10px;
  }

  .text-right {
    text-align: center !important;
  }
}

/*INDEX PRODUCT STYLING*/
.product-listing {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 80px;
}
.product-listing h2 {
  color: #000000;
}
.product-listing h5 {
  margin-bottom: 80px;
}
.product-title {
  font-weight: 600;
}


/*GET STARTED STYLING*/
.get-started {
  padding-top: 70px;
  padding-bottom: 140px;
  background: -webkit-linear-gradient(
    left top,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
  background: linear-gradient(
    to right bottom,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 95%, 0 100%);
  position: relative;
  top: 51px;
}
.get-started h1 {
  margin-top: 40px;
  color: #ffffff;
  font-size: 36px;
}
.get-started p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

/*FOOTER*/
.st-foot {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-color: #292929;
  color: #ffffff;
  line-height: 1.8em;
  padding-bottom: 120px;
}

.st-foot p {
  color: #999;
}

.st-foot h4 {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  margin-top: 80px;
  text-transform: uppercase;
}
.st-foot ul li a {
  color: #999;
}
.st-foot ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}

/*INSPECT PAGE STYLES*/

@media only screen and (max-width: 767px) {
  .mobile-pad {
    padding-top: 20px;
  }
}

/* TEXT PAGE STYLES */

@media only screen and (max-width: 767px) {
}

/* CONTACT PAGE */

.contact_div {
  background-color: #ffffff;
  margin-top: 60px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92, 91, 92, 1);
  -moz-box-shadow: 1px 2px 14px 0px rgba(92, 91, 92, 1);
  box-shadow: 1px 2px 14px 0px rgba(92, 91, 92, 1);
  padding-bottom: 30px;
  padding-top: 50px;
  max-width: 720px;
  min-height: 480px;
  border-radius: 5px;
}

/* About Page */
.company_div {
  background-color: #ffffff;
  border: solid 1px #eee;
  border-radius: 5px;
  margin-bottom: 20px !important;
  padding: 10px 20px 20px;
}
