@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }

/* MAIN */

.st-intro {
  margin-top: -70px;
  padding-top: 120px;
  padding-bottom: 30px;
  background: -webkit-linear-gradient(
    left top,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
  background: linear-gradient(
    to right bottom,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
}

.main {
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.33);
  padding-bottom: 60px;
}
.jumbotron {
  margin-top: -70px;
  margin-bottom: 0;
  padding-top: 120px;
  height: 70vh;
  background: -webkit-linear-gradient(
    left top,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
  background: linear-gradient(
    to right bottom,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
}

.hidden {
  visibility: hidden;
}
.white {
  color: #ffffff;
}

.black {
  background-color: #000000;
}

.white:hover {
  color: #ffffff;
  opacity: 0.5;
}

.move {
  visibility: hidden;
}

.title {
  color: #ffffff;
  font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.title-dark {
  color: #000;
  font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.sub-title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
}

.sub-head {
  color: #000;
  font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
}

.lighter {
  opacity: .75;
}

/*Button Styles*/
.btn-outline-primary {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-st {
  border-color: #000;
  color: #000;
}
.btn-outline-st :hover{
  background-color: #000;
  color: #fff;
}

/*Navbar Styling*/
.navbar {
  background-color: transparent;
  z-index: 1;
}
.menu-hr {
  border-color: #999;
  margin-bottom: 0.5rem;
  margin-top: 0.125rem;
}

.list-unstyled li a {
  line-height: 1.8rem;
  color: #007bff;
}

.list-unstyled li a:hover {
  text-decoration: none;
  color: #000000;
}

.navbar-nav-svg:hover {
  opacity: 1;
}

.navbar-nav-svg {
  fill: #fff;
  opacity: 0.6;
}

.faded {
  opacity: 0.5;
}

.faded a:hover {
  opacity: 1;
}

.social-li {
  opacity: 0.5;
  height: 40px;
  width: 32px;
}

.navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

@media (min-width: 767px) {
  .products {
    width: 250px;
  }

  .resources {
    width: 450px;
  }

  .pricing {
    width:250px
  }

  .contact {
    width: 460px;
  }
  .dropdown:hover .dropdown-menu {
    display: inline-block;
    margin-top: 0; /*remove the gap so it doesn't close*/
  }
}

/*Queries for nav*/
@media (max-width: 900px) {
  .dropdown .dropdown-menu {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .dropdown .dropdown-menu a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
  }
}

/*Hide Content on Medium and Large screens*/

@media only screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }

  .owl-carousel {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .show-sm {
    display: inline;
  }
  .hide-sm {
    display: none;
  }

  .navbar ul li a {
    width: 100%;
    line-height: 1.8em;
  }
}

/*768 width - show button */
@media (max-width: 800px) {
  .button-768 {
    display: inline !important;
  }

  .button-1024 {
    display: none !important;
  }
}

/*1024 width - hide button*/
@media (min-width: 1024px) {
  .button-768 {
    display: none !important;
  }

  .button-1024 {
    display: inline !important;
  }
}

/*Resolutions >768 - hide button
@media (min-width: 769px){
	.button-768{
		display: none !important;
	}
}*/

/*Resolutions <1024 - hide button*/

/*Menu Icon Styling */
.custom-toggler.navbar-toggler {
  border-color: transparent;
  cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*Mobile Index Page Product Style */
@media only screen and (max-width: 767px) {
  .index-button {
    margin-bottom: 15px;
    margin-top: -10px;
  }

  .text-right {
    text-align: center !important;
  }
}

/* LOGIN PAGE STYLING */
.login-header {
	font-size: 36px;
	font-weight: 300;
	color: #000;
}

#login-page form {
	line-height: 2.5;
}

.st-input{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #999;
	font-size: 24px;
	font-weight: 300;
	color: #000;
	width: 100%;
}

#login-page input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
	opacity: 0.4;
}
#login-page input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
	opacity: 0.4;
}
#login-page input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
	opacity: 0.4;
}
#login-page input:-moz-placeholder { /* Firefox 18- */
  color: #000;
	opacity: 0.4;
}

.login-btn {
	background-color: #2196f3;
	color: #fff;
  margin-top: 20px;
  height: 60px;
  width: 100%;
  font-size: 18px;
}

.forgot-password {
	color: #000;
	font-weight: 300;
  margin-top: 10px;
  font-size: 18px;
}

.forgot-password :hover{
	text-decoration: underline;
}

/*INDEX PRODUCT STYLING*/
.product-listing {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 40px;
}
.product-listing h2 {
  color: #000000;
}
.product-listing h5 {
  margin-bottom: 80px;
}
.feature-title {
  font-weight: 500;
}

/*PRICING STYLES*/

.pricing-table {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pricing-table > thead > tr > td {
  border-top: 0px;
}

.oem-logos > div >img {
  height: 40px;
}

.feature-check tr td {
  padding-left: 0 !important;
  border: 0;
}

i {
  color:#1976d2;
}

.dot-adjust {
  margin-left: 12px !important;
}

.popular-badge {
  border-radius: 3px;
  vertical-align: middle;
}

.popular-badge > span {
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  vertical-align: middle;
}

.popular-blue {
  background-color:#2196f3;
}

.popular-green {
  background-color: #4caf50;
}

/* Carousel dark indicators */
/* Add an extra .carousel parent class to increase specifity
   avoiding the use of !important flag. */
   .carousel-indicators {
     bottom: -80px;
   }
   .carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70,70,70,.25);
  }
  
  .carousel .carousel-indicators .active {
    background-color: #444;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/*GET STARTED STYLING*/
.get-started {
  padding-top: 50px;
  padding-bottom: 70px;
  background: -webkit-linear-gradient(
    left top,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
  background: linear-gradient(
    to right bottom,
    rgba(41, 8, 48, 0.97),
    rgba(82, 65, 143, 0.97) 50%,
    rgba(114, 183, 227, 0.97)
  );
}
.get-started h1 {
  margin-top: 40px;
  color: #ffffff;
  font-size: 36px;
}
.get-started p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 20px;
}


/*SEAMLESS*/

.seamless {
  background-color:#f5f5f5;
  padding-top:30px;
  padding-bottom:30px;
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

/*FOOTER*/
.st-foot {
  background-color: #292929;
  color: #ffffff;
  line-height: 1.8em;
  padding-bottom: 120px;
  padding-top: 60px;
}

.st-foot p {
  color: #999;
  font-weight: 300;
}

.st-foot h4 {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  margin-top: 80px;
  text-transform: uppercase;
}
.st-foot ul li a {
  color: #999;
}
.st-foot ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}

/*INSPECT PAGE STYLES*/

@media only screen and (max-width: 767px) {
  .mobile-pad {
    padding-top: 30px;
  }
}

/* TEXT PAGE STYLES */

@media only screen and (max-width: 767px) {
}

/* CONTACT PAGE */

.contact_div {
  background-color: #ffffff;
  margin-top: 60px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(92, 91, 92, 1);
  -moz-box-shadow: 1px 2px 14px 0px rgba(92, 91, 92, 1);
  box-shadow: 1px 2px 14px 0px rgba(92, 91, 92, 1);
  padding-bottom: 30px;
  padding-top: 50px;
  max-width: 720px;
  min-height: 480px;
  border-radius: 5px;
}

/* About Page */
.company_div {
  background-color: #ffffff;
  border: solid 1px #eee;
  border-radius: 5px;
  margin-bottom: 20px !important;
  padding: 10px 20px 20px;
}
